@import './style';

.page {
  min-height: 100vh;

  .title-wrap {
    margin-top: 60px;
    height: 10vh;
    z-index: 0;

    .title {
      font-weight: bold;
      font-size: 30px;
    }

    .monthBtn {
      padding: 10px;
      background-color: black;
      color: white;
      margin: 0 20px;
      border-radius: 30%;
    }
  }

  .calendar {
    width: 100%;
    height: 90vh;
    margin-top: 30px;
    z-index: 0;

    .thead {
      background-color: #e5e5e5;
    }

    .tr {
      flex: 1;
      width: 100%;

      .th {
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 5px;
      }

      .td {
        justify-content: flex-start;
        padding: 15px;
        align-items: flex-start;
      }

      .td, .th {
        display: flex;
        height: 100%; /* 셀의 높이를 부모 요소에 맞춤 */
        flex: 1;
        border: 1px solid #a4a4a4;

        &.text-gray {
          color: gray;
        }

        &.font-bold {
          font-weight: bold;
        }

        &:first-child {
          color: #b64747;

          &.text-gray {
            color: #c27d7d;
          }
        }

        &:last-child {
          color: #3e3ec1;

          &.text-gray {
            color: #7a7ab6;
          }
        }
      }
    }
  }

  .kanban-board {
    margin: 100px 0 80px 0;
    width: 100%;
    min-height: 100vh;
    z-index: 0;
    align-items: flex-start;

    .status {
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      width: 20%;
      min-height: 90vh;
      margin-right: 20px;
      justify-content: flex-start;
      border-radius: 1rem;

      &:last-child {
        margin-right: 0;
      }

      .title {
        @include flex-style();
        justify-content: space-between;
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
        width: 100%;
        height: 50px;
        padding: 0 10px;
        color: white;
        margin-bottom: 30px;

        span {
          font-family: $blackFont;
          font-size: 22px;
        }

        div {
          cursor: pointer;
        }
      }

      &.todo > .title > span {
        color: #5050bd;
      }

      &.inProgress > .title > span {
        color: #c27d7d;
      }

      &.review > .title > span {
        color: #8560d3;
      }

      &.done > .title > span {
        color: #69bb69;
      }

      .list {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        width: 90%;
        height: 150px;
        border-radius: 0.5em;
        margin-bottom: 20px;
        padding: 20px 10px;
        cursor: pointer;
        background-color: white;

        .list-top {
          justify-content: space-between;
          .list-status {
            padding: 5px;
            font-size: 12px;
            color: white;
            border-radius: 1em;
            &.todo {
              background-color: #5050bd;
            }
            &.inProgress {
              background-color: #c27d7d;
            }
            &.review {
              background-color: #8560d3;
            }
            &.done {
              background-color: #69bb69;
            }
          }
        }

        p {
          font-family: $boldFont;
          font-size: 20px;
        }

      }
    }
  }
}

.input-form {
  span {
    font-family: $boldFont;
    font-size: 40px;
    margin-bottom: 40px;
  }

  input {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 10px 20px;
    margin: 5px 0;
    border-radius: 5%;
  }
}

.box {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 100px 50px;
  width: 40%;
  @include flex-style(column);

  img {
    width: 100px;
  }

  .login-btn {
    background-color: #3e3ec1;
    padding: 35px 10px;
    color: white;
    border-radius: 5%;
    margin-left: 10px;
    transition: 0.3s;

    &:hover {
      background-color: #2121da;
      transition: 0.3s;
    }
  }

  .go-sign-up {
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      color: #3e3ec1;
      transition: 0.3s;
    }
  }

  .sign-up-btn {
    margin-top: 30px;
    background-color: #3e3ec1;
    padding: 20px 50px;
    color: white;
    border-radius: 5%;
  }

  .incorrect-pw {
    color: red;
    font-size: 13px;
  }
}

.navigator {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  height: 60px;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  .site-map {
    position: absolute;
    width: 300px;
    top: 0;
    left: -300px;
    height: 100vh;
    transition: 0.3s;
    background-color: white;
    z-index: 2;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    &.on {
      transform: translateX(300px);
      transition: 0.3s;
    }

    div {
      width: 90%;
      text-align: center;
      padding: 100px 0;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      border-radius: 5%;
      cursor: pointer;

      &:first-child {
        margin-bottom: 30px;
      }

      svg.active {
        fill: #3e3ec1;
      }

      span.active {
        font-family: $boldFont;
      }
    }
  }

  .site-map-btn {
    transition: 0.3s;

    &.on {
      transform: translateX(300px);
      transition: 0.3s;

    }
  }

  svg {
    width: 50px;
    cursor: pointer;
  }

  .drop-down-menu {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: absolute;
    right: 10px;
    top: 45px;
    border-radius: 5%;

    .row {
      padding: 15px 10px;
      cursor: pointer;

      &:first-child {
        border-bottom: 1px solid gray;
      }

      &.red {
        svg {
          fill: #c94242;
        }

        span {
          color: #c94242;
        }
      }
    }
  }
}

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;

  .modal {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 50%;
    height: 500px;
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;

    .exit-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }

    &.user-edit-modal {
      .row {
        width: 100%;

        div {
          width: 40%;
          padding: 70px 0;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          margin: 0 10px;
          border-radius: 5%;
          cursor: pointer;

          p {
            font-size: 20px;
          }

          &:hover {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 30px;
          }
        }
      }

      .change-pw {
        p {
          font-size: 12px;
          color: #c94242;
        }
      }

      .withdraw {
        .withdraw-check {
          margin-top: 20px;

          input {
            box-shadow: none;
            scale: 1.5;
            margin-right: 10px;
          }
        }
      }

      .change-pw-btn, .withdraw-btn {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #3e3ec1;
        color: white;
        border-radius: 5%;
        font-family: $boldFont;
        font-size: 18px;
        transition: 0.3s;

        &:hover {
          background-color: #5050bd;
          transition: 0.3s;
        }
      }
    }

    &.create-todo-modal {
      height: 300px;

      input {
        width: 80%;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        padding: 20px 10px;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
      }

      textarea {
        width: 80%;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        padding: 5px 10px;
        height: 100px;
        border: none;
        resize: none;
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;

        &:focus {
          outline: none;
        }
      }

      .create-todo-btn {
        margin-top: 30px;
        background-color: #3e3ec1;
        color: white;
        padding: 10px 15px;
        font-size: 17px;
        border-radius: 1em;
      }
    }
  }
}