@import './style';

.page {
  min-height: 100vh;

  .title-wrap {
    margin-top: 60px;
    height: 10vh;
    z-index: 0;

    .title {
      font-weight: bold;
      font-size: 30px;

      span {
        font-weight: bold;
        color: #5050bd;
      }
    }

    .monthBtn {
      padding: 10px;
      background-color: #5050bd;
      color: white;
      margin: 0 20px;
      border-radius: 30%;
    }
  }

  .calendar {
    width: 100%;
    height: 90vh;
    margin-top: 30px;
    z-index: 0;

    .thead {
      background-color: #e5e5e5;
    }

    .tr {
      flex: 1;
      width: 100%;

      &.week {
        .th {
          cursor: default;

          &:hover {
            background-color: white;
          }
        }
      }

      .th {
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 5px;
      }

      .td {
        justify-content: flex-start;
        padding: 15px;
        align-items: flex-start;
      }

      .td,
      .th {
        display: flex;
        height: 100%; /* 셀의 높이를 부모 요소에 맞춤 */
        flex: 1;
        border: 1px solid #a4a4a4;
        cursor: pointer;

        .day-with-emotion {
          justify-content: space-between;
          width: 100%;

          .emotion-img {
            width: 20px;
          }
        }

        .preview-title {
          position: absolute;
          width: 100%;
          background-color: #5050bd;
          color: white;
          padding: 3px;
          left: 0;
          bottom: 0;
          text-overflow: ellipsis;
          font-size: 12px;
        }

        &.prev-or-next {
          color: gray;

          .day-with-emotion {
            img {
              opacity: 0.5;
            }
          }

          &:hover {
            background-color: #f8f8ff;
          }
        }

        &.today {
          span {
            font-weight: bold;
            background-color: #5050bd;
            color: white;
            padding: 0 8px;
            border-radius: 2rem;
          }
        }

        &:first-child {
          color: #b64747;

          &.text-gray {
            color: #c27d7d;
          }
        }

        &:last-child {
          color: #3e3ec1;

          &.text-gray {
            color: #7a7ab6;
          }
        }

        &:hover {
          background-color: #eeeeff;
        }
      }
    }
  }

  .kanban-board {
    margin: 100px 0 80px 0;
    width: 100%;
    min-height: 100vh;
    z-index: 0;
    align-items: flex-start;

    .status {
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      width: 20%;
      min-height: 70vh;
      margin-right: 20px;
      justify-content: flex-start;
      border-radius: 1rem;

      &:last-child {
        margin-right: 0;
      }

      .title {
        @include flex-style();
        justify-content: space-between;
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
        width: 100%;
        height: 50px;
        padding: 0 10px;
        color: white;
        margin-bottom: 30px;

        span {
          font-family: $blackFont;
          font-size: 22px;
        }

        div {
          cursor: pointer;

          svg {
            fill: gray;
          }
        }
      }

      &.todo > .title > span {
        color: #5050bd;
      }

      &.inProgress > .title > span {
        color: #c27d7d;
      }

      &.review > .title > span {
        color: #8560d3;
      }

      &.done > .title > span {
        color: #69bb69;
      }

      .list {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        width: 90%;
        height: 150px;
        border-radius: 0.5em;
        margin-bottom: 20px;
        padding: 20px 10px;
        cursor: pointer;
        background-color: white;

        .list-top {
          justify-content: space-between;
        }

        .list-status {
          padding: 5px;
          font-size: 12px;
          color: white;
          border-radius: 1em;

          &.todo {
            background-color: #5050bd;
          }

          &.inProgress {
            background-color: #c27d7d;
          }

          &.review {
            background-color: #8560d3;
          }

          &.done {
            background-color: #69bb69;
          }
        }

        p {
          font-family: $boldFont;
          font-size: 20px;
        }

        &.new-task-form,
        &.edit-task-form {
          cursor: default;
          height: 210px;
          position: relative;

          input {
            margin-top: 15px;
            width: 100%;
            padding: 20px 10px;
          }

          textarea {
            width: 100%;
            padding: 5px 10px;
            border: none;
            resize: none;

            &:focus {
              outline: none;
            }
          }

          .btn {
            position: absolute;
            bottom: 10px;
            right: 10px;
            background-color: gray;
            color: white;
            padding: 5px 10px;
            border-radius: 1em;
            font-size: 12px;
          }
        }
      }
    }
  }

  .community {
    z-index: 0;
    width: 100%;
    margin: 100px 0 80px 0;
    min-height: 100vh;
    justify-content: flex-start;

    .community-top-box {
      width: 90%;
      justify-content: space-between;

      h2 {
        width: 96%;
        text-align: left;
        font-family: $blackFont;
      }

      button {
        padding: 2px 13px;
        background-color: #3e3ec1;
        color: white;
        font-size: 30px;
        border-radius: 5em;
        font-family: $boldFont;
      }
    }
  }

  .community-add-box, .community-edit-box {
    width: 90%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 1rem;
    margin: 10px 0;
    padding: 10px;
    align-items: flex-start;

    textarea {
      width: 100%;
      border-radius: 1rem;
      padding: 16px;
      border: none;
      resize: none;

      &:focus {
        outline: none;
      }
    }

    .preview-photo {
      width: 300px;
      margin: 20px 0;
    }

    .upload {
      width: 100%;
      justify-content: space-between;

      .upload-img-btn {
        cursor: pointer;
        background-color: #3e3ec1;
        color: white;
        padding: 5px 10px;
        border-radius: 1rem;
        font-size: 14px;
      }

      #photo {
        display: none;
      }
    }

    button {
      background-color: #3e3ec1;
      color: white;
      padding: 5px 10px;
      border-radius: 1rem;
    }
  }

  .community-box {
    width: 90%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 1rem;
    padding: 30px;
    margin: 10px 0;
    align-items: flex-start;

    .row {
      width: 100%;
      justify-content: flex-start;

      .userId {
        color: dimgray;
        font-family: $thinFont;
      }

      .edit-btn, .delete-btn {
        margin: 0 5px;

        svg {
          fill: gray;
        }
      }
    }

    .post-img {
      width: 300px;
      margin: 20px 0;
    }

    .contents {
      width: 100%;
      justify-content: flex-start;
    }
  }
}

.input-form {
  span {
    font-family: $boldFont;
    font-size: 40px;
    margin-bottom: 40px;
  }

  input {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 10px 20px;
    margin: 5px 0;
    border-radius: 5%;
  }
}

.box {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
  0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 100px 50px;
  width: 40%;
  @include flex-style(column);

  img {
    width: 100px;
  }

  .login-btn {
    background-color: #3e3ec1;
    padding: 35px 10px;
    color: white;
    border-radius: 5%;
    margin-left: 10px;
    transition: 0.3s;

    &:hover {
      background-color: #2121da;
      transition: 0.3s;
    }
  }

  .go-sign-up {
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      color: #3e3ec1;
      transition: 0.3s;
    }
  }

  .sign-up-btn {
    margin-top: 30px;
    background-color: #3e3ec1;
    padding: 20px 50px;
    color: white;
    border-radius: 5%;
  }

  .incorrect-pw {
    color: red;
    font-size: 13px;
  }
}

.navigator {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  height: 60px;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  .site-map {
    position: absolute;
    width: 300px;
    top: 0;
    left: -300px;
    height: 100vh;
    transition: 0.3s;
    background-color: white;
    z-index: 2;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    &.on {
      transform: translateX(300px);
      transition: 0.3s;
    }

    div {
      width: 90%;
      text-align: center;
      padding: 50px 0;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      border-radius: 5%;
      cursor: pointer;

      &:first-child {
        margin-bottom: 30px;
      }

      svg.active {
        fill: #3e3ec1;
      }

      span.active {
        font-family: $boldFont;
      }
    }
  }

  .site-map-btn {
    transition: 0.3s;

    &.on {
      transform: translateX(300px);
      transition: 0.3s;
    }
  }

  svg {
    width: 50px;
    cursor: pointer;
  }

  .drop-down-menu {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: absolute;
    right: 10px;
    top: 45px;
    border-radius: 5%;

    .row {
      padding: 15px 10px;
      cursor: pointer;

      &:first-child {
        border-bottom: 1px solid gray;
      }

      &.red {
        svg {
          fill: #c94242;
        }

        span {
          color: #c94242;
        }
      }
    }
  }
}

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;

  .modal {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 50%;
    height: 500px;
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;

    .exit-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }

    &.user-edit-modal {
      .row {
        width: 100%;

        div {
          width: 40%;
          padding: 70px 0;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          margin: 0 10px;
          border-radius: 5%;
          cursor: pointer;

          p {
            font-size: 20px;
          }

          &:hover {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 30px;
          }
        }
      }

      .change-pw {
        p {
          font-size: 12px;
          color: #c94242;
        }
      }

      .withdraw {
        .withdraw-check {
          margin-top: 20px;

          input {
            box-shadow: none;
            scale: 1.5;
            margin-right: 10px;
          }
        }
      }

      .change-pw-btn,
      .withdraw-btn {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #3e3ec1;
        color: white;
        border-radius: 5%;
        font-family: $boldFont;
        font-size: 18px;
        transition: 0.3s;

        &:hover {
          background-color: #5050bd;
          transition: 0.3s;
        }
      }
    }

    &.diary-modal {
      width: 70%;
      height: 600px;
      overflow-x: hidden;
      overflow-y: scroll;
      justify-content: flex-start;
      padding: 30px 60px;

      .btns {
        width: 100%;
        text-align: right;

        svg {
          cursor: pointer;
          fill: gray;
          margin: 0 10px;
        }
      }

      .diary-top {
        width: 100%;
        padding: 15px 0;
        justify-content: space-between;
        border-bottom: 1px solid gray;
        margin-bottom: 30px;

        .title {
          font-family: $boldFont;
          font-size: 24px;
        }

        .emotion {
          line-height: 30px;

          img {
            margin-left: 10px;
            width: 30px;
          }
        }
      }

      .diary-photo {
        max-width: 90%;
      }

      .contents {
        margin-top: 20px;
        width: 90%;
      }

      .lets-add-diary {
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        svg {
          fill: gray;
        }

        p {
          margin-top: 30px;
          color: gray;
        }
      }

      .create-diary {
        width: 100%;

        .create-diary-title {
          width: 100%;
          padding: 10px 20px;
          font-size: 20px;
          border-bottom: 1px solid gray;
        }

        .create-diary-photo {
          width: 100%;
          padding: 10px 20px;
          border-bottom: 1px solid gray;
          align-items: flex-start;

          .input-photo {
            .photo-file-label {
              background-color: #5050bd;
              color: white;
              padding: 5px 10px;
              border-radius: 1em;
              cursor: pointer;
            }

            p {
              margin-left: 20px;
              color: gray;
              font-family: $thinFont;
            }
          }

          .preview-photo {
            width: 100%;
            margin-top: 10px;
          }
        }

        #photo {
          display: none;
        }

        .create-diary-emotion {
          width: 100%;
          padding: 10px 20px;
          border-bottom: 1px solid gray;

          img {
            cursor: pointer;
            width: 30px;
            margin: 0 30px;
            padding: 5px;

            &.active {
              background-color: #d2d2d2;
              border-radius: 1em;
            }
          }
        }

        .create-diary-contents {
          width: 100%;
          margin: 10px 0;
          padding: 10px 20px;
          height: 300px;
          //border: none;
          resize: none;

          &:focus {
            outline: none;
          }
        }

cpd        .create-diary-btn {
          background-color: #5050bd;
          padding: 5px 15px;
          color: white;
          border-radius: 1em;
          font-size: 16px;
        }
      }
    }
  }
}
